*{
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}
.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:50px 100px 0px 100px ;
    background: rgba(229, 84, 115, 0.10);
   height: 650px;
    
}
.header-text{
    text-align: left;
  
}
.header-img{
       width: 635px;
    height: 650px;

}
.header-title{
    font-size: 60px;
    font-weight: 800px;
    margin-bottom: 35px;
    color: #272727;

}
.btn{
border-radius: 8px;
background: #E55473;
border: none;
color: #FFF;
font-size: 20px;
padding: 20px 40px;

}
.header-container p{
color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
margin-bottom: 35px;
}
.flower-item{
    border: 1px solid red;
    margin-top: 160px;
    padding-left: 100px;
    padding-right: 100px;
}
.flower-item-text{
    text-align: center;
}
.flower-item-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}
.flower-item-details{
    color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
margin-bottom: 40px;
}
.flower-img-item{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
}
.img-name{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-top: 25px;
}
.img-1{
    border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
padding: 100px 65px 0px 65px ;

}
.img-2{
    border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
padding: 117px 37px 51px;
    
}
.img-3{
    border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
padding: 67px 65px 0px;
    
}
/* icon-item */

.icon-container{
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
     border-radius: 8px;
background: rgba(39, 39, 39, 0.05);
margin: 120px 100px 0px;
padding: 85px 0px;
}
.icon-title{
    color: rgba(39, 39, 39, 0.80);
text-align: center;
font-size: 24px;
font-style: normal;
font-weight: 600;
}
.icon-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.hot-deal{
    border: 1px solid green;
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
padding: 80px 0px;
}
